.header{
    margin: 0 auto;
    max-width: 710px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#github{
    font-size: 16px;
    text-decoration: none;
    color: var(--title-color);
}

.header-option > i {
    font-size: 28px;
}

.logo {
    width: 150px;
}